* {
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: grey;

}

footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgb(66, 133, 244);
    align-items: center;
    box-shadow: 2px 2px 7px grey;
    height: 70px;
}

footer .menu-wrapper {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: transparent;
    margin-right: 190px;
}

footer #menu-img {
    background-color: transparent;
}

footer #nume-pagina {
    margin: 10px;
    font-size: 20px;
    color: whitesmoke;
    background-color: transparent;
}

footer .search-wrapper {
    display: flex;
    background-color: rgb(94, 151, 246);
    justify-content: center;
    align-items: center;
    height: 42px;
    border-radius: 3px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: white;
    width: 40em;
    margin-top: 4px;
}

#search-img {
    margin-left: 30px;

    margin-right: 30px;
    background-color: transparent;
}

#search {
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}

::placeholder {
    color: whitesmoke;
}

main {
    margin-top: 15px;
}

main .text {
    background-color: transparent;
    font-weight: bold;
}

.menu-items {
    display: block;
    width: 290px;
}

body .menu1 .menu2 {
    display: flex;
    flex-direction: column;
}

body .items {
    display: flex;
    align-items: center;
    padding: 14px 16px 16px 30px;
}

body .fig {
    margin: 0px 25px 0px 0px;
}

body .index {
    margin-left: 26px;
}

body .items:hover {
    background-color: rgb(230, 229, 230);
    max-width: 280px;
    border-radius: 5px;
}

main {
    display: flex;
}

.sender {
    background-color: white;
    display: flex;
    margin-left: 35px;
    box-shadow: 1px 2px 5px grey;
    width: 60em;
    height: 10em;
}

#sender1 {
    background-color: white;
    display: flex;
    margin-left: 35px;
    box-shadow: 1px 2px 5px grey;
    width: 60em;
    height: 6.5em;
}

#small-box {
    width: 60em;
    height: 3.5em;
}

#medium-box {
    border-left: solid 3px rgb(37, 87, 223);
    height: 7.1em;
}

.content {
    background-color: transparent;
    margin-left: 150px;
}

.category,
.category2,
.category3 {
    color: black;
    margin-left: 60px;
    background-color: transparent;
}

.name {
    background-color: transparent;
    margin-left: 85px;
    margin-right: 10%;
}

#linie {
    border-top: solid 2px lightgray;
}

#linie2,
#linie3 {
    border-bottom: solid 2px lightgrey;
}