* {
    box-sizing: border-box;
}

body {
    background-color: #17141d;
}

#main {
    display: flex;
    justify-content: center;
}

#ceas {
    font-family: 'Shadows Into Light', cursive;
    color: rgb(43, 43, 43);
    font-size: 8rem;
}

#ceas:hover {
    transition: all 0.8s;
    transform: scale(1.5);
    background: linear-gradient(to right, #ff8a00 23%, #da1b60 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px #17141d;
}